# Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]


# Ignore environment variables
.env

# Ignore virtual environment
venv/
# Virtual environment directories
venv/
env/

# Environment variable files (sensitive data)
.env

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Logs and debugging files
*.log

# SQLite databases (if used)
*.sqlite3

# Mock databases used for testing
mock_db/students.json

# Node.js dependencies (if frontend uses Node.js)
node_modules/
npm-debug.log

# Python virtual environment folder created by pyenv
.python-version

# JetBrains IDE directories (e.g., PyCharm)
.idea/

# Visual Studio Code settings folder
.vscode/
api/images/
/images/
/image/

frontend/images/

readformy.md

# Ignore SQLite database file
*.db